# 忽略数据集 (太大了)
cs231n/datasets/
assignment2/cs231n/datasets/
**/datasets/
*.h5
*.zip
*.tar.gz

# 忽略 Python 编译缓存
__pycache__/
*.py[cod]

# 忽略 Jupyter Notebook 的缓存检查点
.ipynb_checkpoints

# 忽略环境配置 (如果你把环境装在项目里的话)
env/
venv/
.env
.venv/

# 忽略 VS Code 自己的配置
.vscode/